<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8" />
		<title></title>
	</head>

	<body>
		<div class="page">
			<div class="page__hd">
				<h1 class="page__title">Museum</h1>
				<p class="page__desc">介绍museum</p>
			</div>
			<div class="page__bd">
				<div class="weui-cells__title">文物统计分析</div>
				<div class="weui-cells weui-cells_form">
					<div class="weui-cell">
						<div class="weui-cell__hd"><label class="weui-label">文物</label></div>
						<div class="weui-cell__bd">
							<input class="weui-input" type="text" readonly="readonly" id="showRelicPicker" placeholder="请选择文物" />
						</div>
					</div>
					<div class="weui-cell">
						<div class="weui-cell__hd"><label for="" class="weui-label">起始时间</label></div>
						<div class="weui-cell__bd">
							<input class="weui-input" type="datetime-local" value="" placeholder="请选择起始时间" />
						</div>
					</div>
					<div class="weui-cell">
						<div class="weui-cell__hd"><label for="" class="weui-label">结束时间</label></div>
						<div class="weui-cell__bd">
							<input class="weui-input" type="datetime-local" value="" placeholder="请选择结束时间" />
						</div>
					</div>
				</div>

				<div class="weui-btn-area">
					<a class="weui-btn weui-btn_primary" href="javascript:" id="showTooltips">确定</a>
				</div>
				<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    			<div id="main" style="height:400px;"></div>
			</div>
			<div class="page__ft">
				<div class="weui-footer">
					<p class="weui-footer__links">
						<a href="#" class="weui-footer__link">底部链接</a>
					</p>
					<p class="weui-footer__text">Copyright © 2018 Museum</p>
				</div>
			</div>
		</div>
	</body>
	
	<script th:src="@{/js/jquery.min.js}"></script>
	<script src="https://res.wx.qq.com/open/libs/weuijs/1.1.4/weui.min.js"></script>
	<script type="text/javascript">
		$(function() {
			
			$('#showRelicPicker').on('click', function () {
	        	$.get("/museum/theme/themeRelics", function(data){
	        		var themeArr=new Array();
	                $.each(data, function(i, theme) {
	                	var relicsArr=new Array();
	                	$.each(theme.culturalrelicss, function(j, relics){
	                		var relics={'label':relics.culturalrelicsName, 'value':relics.culturalrelicsId};
	                		relicsArr.push(relics);
	                	});
	                	var theme={'label':theme.themeName, 'value':theme.themeId, 'children':relicsArr};
	                	themeArr.push(theme);
	                });
	             	// 级联picker
					weui.picker(themeArr, {
					   className: 'custom-classname',
					   container: 'body',
					   defaultValue: [1, 3],
					   onChange: function (result) {
					       console.log(result);
					   },
					   onConfirm: function (result) {
					       console.log(result);
					       $('#showRelicPicker').val(result[0].label + result[1].label);
					   },
					   id: 'doubleLinePicker'
					});
	            });
		    });

		});
	</script>
</html>