<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0"/>
		<!--保证360浏览器渲染模式可用-->
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<title>张家界博物馆</title>
		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
		<link href="//res.wx.qq.com/open/libs/weui/1.1.3/weui.min.css" rel="stylesheet" />
		<style type="text/css">
        	.weui-tabbar{position:fixed;}
        </style>
	</head>
	<body>
		<div class="page__hd">
	        <h1 class="page__title">语音导览后台管理系统</h1>
	        <p class="page__desc">维护语音导览系统的文物信息，统计文物的访问量</p>
	    </div>
	    <div class="page__bd">
	    	
	    </div>
	    
	    <div class="page footer js_show">
		    <div class="page__bd page__bd_spacing">
		        <div class="weui-footer weui-footer_fixed-bottom">
				    <p class="weui-footer__links">
				        <a href="#" class="weui-footer__link">张家界博物馆</a>
				    </p>
				    <p class="weui-footer__text">Copyright © 2018 Museum</p>
				</div>
		    </div>
		</div>
	    

	    <div class="page tabbar js_show">
		    <div class="page__bd" style="height: 100%;">
		        <div class="weui-tab">
		            <!--<div class="weui-tab__panel">
		 				
		            </div>-->
		            
		            <div class="weui-tab__bd">
		                <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">
		                    <div class="weui_cells_title">选择对应的文物展示其访问量的变化</div>
				            <div class="weui_cells weui_cells_form">
				                <div class="weui_cell">
				                	
				                    <div class="weui-cell__hd">
				                    	<label class="weui-label">文物</label>
				                    </div>
					                <div class="weui-cell__bd">
					                    <input class="weui-input" type="button" placeholder="请选择文物" id="showPicker"/>
					                </div>
				                    
				                </div>
				                <div class="weui_cell">
				                    <div class="weui_cell_hd">
				                        <label class="weui_label">银行卡</label>
				                    </div>
				                    <div class="weui_cell_bd weui_cell_primary">
				                        <input class="weui_input" type="number" pattern="[0-9]*" placeholder="请输入银行卡号" />
				                    </div>
				                </div>
				                <div class="weui_cell weui_vcode weui_cell_warn">
				                    <div class="weui_cell_hd">
				                        <label class="weui_label">验证码</label>
				                    </div>
				                    <div class="weui_cell_bd weui_cell_primary">
				                        <input class="weui_input" type="number" placeholder="请输入验证码" />
				                    </div>
				                </div>
				            </div>
				            <div class="weui_cells_tips">底部说明文字底部说明文字</div>
				            <div class="weui_btn_area">
				                <a class="weui_btn weui_btn_primary" href="javascript:" id="showTooltips">确定</a>
				            </div>
		                </div>
		                <div id="tab2" class="weui-tab__bd-item">
		                    <h1>页面二</h1>
		                </div>
		                <div id="tab3" class="weui-tab__bd-item">
		                    <h1>页面三</h1>
		                </div>
		                <div id="tab4" class="weui-tab__bd-item">
		                    <h1>页面四</h1>
		                </div>
		            </div>
		            
		            <div class="weui-tabbar">
		                <a href="javascript:;" class="weui-tabbar__item weui-bar__item_on">
		                    <span style="display: inline-block;position: relative;">
		                        <img th:src="@{/img/icon_tabbar.png}" alt="" class="weui-tabbar__icon" />
		                        <span class="weui-badge" style="position: absolute;top: -2px;right: -13px;">8</span>
		                    </span>
		                    <p class="weui-tabbar__label">文物维护</p>
		                </a>
		                <a href="javascript:;" class="weui-tabbar__item">
		                    <img th:src="@{/img/icon_tabbar.png}" alt="" class="weui-tabbar__icon" />
		                    <p class="weui-tabbar__label">点赞量统计</p>
		                </a>
		                <a href="javascript:;" class="weui-tabbar__item">
		                    <span style="display: inline-block;position: relative;">
		                        <img th:src="@{/img/icon_tabbar.png}" alt="" class="weui-tabbar__icon" />
		                        <span class="weui-badge weui-badge_dot" style="position: absolute;top: 0;right: -6px;"></span>
		                    </span>
		                    <p class="weui-tabbar__label">访问量统计</p>
		                </a>
		                <a href="javascript:;" class="weui-tabbar__item">
		                    <img th:src="@{/img/icon_tabbar.png}" alt="" class="weui-tabbar__icon" />
		                    <p class="weui-tabbar__label">个人中心</p>
		                </a>
		            </div>
		        </div>
		    </div>
		</div>
		
    </body>

   	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script src="https://res.wx.qq.com/open/libs/weuijs/1.1.4/weui.min.js"></script>
    <script type="text/javascript" class="tabbar js_show">
	    $(function(){
	        $('.weui-tabbar__item').on('click', function () {
	            $(this).addClass('weui-bar__item_on').siblings('.weui-bar__item_on').removeClass('weui-bar__item_on');
	            var tabId = $(this).attr('href');
      			$('.weui-tab__panel').find(tabId).show().siblings().hide();
	        });
	        
	        $('#showPicker').on('click', function () {
		    	// 级联picker
				weui.picker([
				{
				    label: '飞机票',
				    value: 0,
				    children: [
				        {
				            label: '经济舱',
				            value: 1
				        },
				        {
				            label: '商务舱',
				            value: 2
				        }
				    ]
				},
				{
				    label: '火车票',
				    value: 1,
				    children: [
				        {
				            label: '卧铺',
				            value: 1,
				            disabled: true // 不可用
				        },
				        {
				            label: '坐票',
				            value: 2
				        },
				        {
				            label: '站票',
				            value: 3
				        }
				    ]
				},
				{
				    label: '汽车票',
				    value: 3,
				    children: [
				        {
				            label: '快班',
				            value: 1
				        },
				        {
				            label: '普通',
				            value: 2
				        }
				    ]
				}
				], {
				   className: 'custom-classname',
				   container: 'body',
				   defaultValue: [1, 3],
				   onChange: function (result) {
				       console.log(result)
				   },
				   onConfirm: function (result) {
				       console.log(result)
				   },
				   id: 'doubleLinePicker'
				});
		    });
	    });
	</script>

</html>