<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0"/>
		<!--保证360浏览器渲染模式可用-->
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<title>张家界博物馆</title>
		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
		<link href="//res.wx.qq.com/open/libs/weui/1.1.3/weui.min.css" rel="stylesheet" />
		<style type="text/css">
        	.weui-tabbar{position:fixed;}
        </style>
	</head>
	<body>
    	<div class="page">
		    <div class="page__bd" style="height: 100%;">
		        <div class="weui-tab">
		            <div class="weui-tab__panel">
						<div id="relicTab" class="weui-tab__bd-item weui-tab__bd-item--active">
							<div th:replace="relic::html" ></div>
						</div>
						<div id="thumbUpTab" class="weui-tab__bd-item">
							<div th:replace="thumbUp::html" ></div>
						</div>
						<div id="accessTab" class="weui-tab__bd-item">
							<div th:replace="access::html" ></div>
						</div>
						<div id="userTab" class="weui-tab__bd-item">
							<div th:replace="user::html" ></div>
						</div>
		            </div>
		            <div class="weui-tabbar">
		                <a href="#relicTab" class="weui-tabbar__item weui-bar__item_on">
		                    <span style="display: inline-block;position: relative;">
		                        <img th:src="@{/img/icon_tabbar.png}" alt="" class="weui-tabbar__icon" />
		                        <span class="weui-badge" style="position: absolute;top: -2px;right: -13px;">8</span>
		                    </span>
		                    <p class="weui-tabbar__label">文物维护</p>
		                </a>
		                <a href="#thumbUpTab" class="weui-tabbar__item">
		                    <img th:src="@{/img/icon_tabbar.png}" alt="" class="weui-tabbar__icon" />
		                    <p class="weui-tabbar__label">点赞量统计</p>
		                </a>
		                <a href="#accessTab" class="weui-tabbar__item">
		                    <span style="display: inline-block;position: relative;">
		                        <img th:src="@{/img/icon_tabbar.png}" alt="" class="weui-tabbar__icon" />
		                        <span class="weui-badge weui-badge_dot" style="position: absolute;top: 0;right: -6px;"></span>
		                    </span>
		                    <p class="weui-tabbar__label">访问量统计</p>
		                </a>
		                <a href="#userTab" class="weui-tabbar__item">
		                    <img th:src="@{/img/icon_tabbar.png}" alt="" class="weui-tabbar__icon" />
		                    <p class="weui-tabbar__label">用户管理</p>
		                </a>
		            </div>
		        </div>
		    </div>
		</div>
		
    </body>

	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/echarts.js}"></script>
	<script th:src="@{/js/chart.js}"></script>
    <script type="text/javascript">
	    $(function(){
	        $('.weui-tabbar__item').on('click', function () {
	            $(this).addClass('weui-bar__item_on').siblings('.weui-bar__item_on').removeClass('weui-bar__item_on');
	            var tabId = $(this).attr('href');
      			$('.weui-tab__panel').find(tabId).show().siblings().hide();
	        });
			
			$('.weui-tabbar__item').trigger('click');
	        
	    });
	</script>

</html>